* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #C4D7EE;
	font-family: 'Open Sans', Arial, Verdana, sans-serif;
	color: #1A1A1B;
}
main {
	max-width: 1060px;
	margin: 0 auto;
	padding: 1rem;
}
.container {
}
h1 {
	display: inline-block;
	position: relative;
}
h2 {
	color: #43474E;
}
h1:after {
	content: "";
	border-bottom: 0.5rem solid #CD6E60;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
}
h1:hover:after {
	opacity: 1;
}
.createNote {
	min-height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #FEFEFE;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 4px;
}

input, textarea {
	padding: 1em;
	display: block;
	width: 50%;
	margin: 0.5rem;
	border-radius: 2px;
	border: 2px dashed  #CD6E60;
}

textarea {
	resize: vertical;
}

input:focus, textarea:focus {
	border: 2px solid #CD6E60;
	outline: none;
}

.btn {
	display: block;
	padding: 1rem;
	width: 50%;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.btn:hover {
	opacity: 0.9;
}
.btn-primary {
	background-color: #CD6E60;
	color: #FEFEFE;
}
.savedNotes {
	--min-card-size: 320px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-card-size), 1fr));
	grid-gap: 1rem;
  overflow-wrap: break-word;
}
.savedNote {
	background-color: gold;
	padding: 1rem;
	border-radius: 4px;
	min-width: 230px;
	margin: 0 0.25rem 0.25rem 0.25rem;
	position: relative;
  border: .5px solid black;
}
.error {
	display: none;
	color: red;
	font-weight: 700;
}
.close {
	float: right;
	font-weight: 700;
	font-size: 1.5em;
	color: #D17C70;
}
.close:hover {
	color: #d85241;
	cursor: pointer;

}

.red {
	color: red;
}
/* .modal {
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
} */
